@model LivingWellMVC.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">*@


    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400" rel="stylesheet">    
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/swiper.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/animate.css" type="text/css" />
    @*<link rel="stylesheet" href="~/Content/magnific-popup.css" type="text/css" />*@

    <link rel="stylesheet" href="~/Content/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body class="stretched side-panel-left device-lg nopadding">
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="transparent-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="@Url.Action("Index","Home")" class="standard-logo" data-dark-logo="../../Content/images/logo-dark.png"><img src="../../Content/images/logo.png" alt="Canvas Logo"></a>
                        <a href="@Url.Action("Index","Home")" class="retina-logo" data-dark-logo="../../Content/images/logo-dark@2x.png"><img src="../../Content/images/logo-dark@2x.png" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul>
                            <li class="mega-menu @(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "current" : "")">
                                @Html.ActionLink("About Us", "Index", "About")
                            </li>
                            <li class="mega-menu @(ViewContext.RouteData.Values["Action"].ToString() == "Services" ? "current" : "")">
                                @Html.ActionLink("Services", "Index", "Services")
                            </li>
                            <li class="mega-menu @(ViewContext.RouteData.Values["Action"].ToString() == "Partner" ? "current" : "")">
                                @Html.ActionLink("Partner With Us", "Index", "Partner")
                            </li>
                            <li class="mega-menu @(ViewContext.RouteData.Values["Action"].ToString() == "Partner" ? "current" : "")">
                                @Html.ActionLink("Careers", "Index", "Careers")
                            </li>
                            <li class="mega-menu @(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "current" : "")">
                                @Html.ActionLink("Contact Us", "Index", "Contact")
                            </li>

                        </ul>
                    </nav>

                </div>

            </div>

        </header><!-- #header end -->
        @RenderBody()
     
    <div class="body-overlay">
        <div id="side-panel">

            <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

            <div class="side-panel-wrap">



                <div class="widget quick-contact-widget clearfix">

                    <h2 class="notopmargin">Quick Contact</h2>

                            
                        
                    <div id="analysis-form-result" data-notify-type="success" data-notify-msg=""></div>

                            
                    <form id="template-quick-analysis-form" name="template-quick-analysis-form" method="post" role="form" novalidate="novalidate">

                                <div class="form-process"></div>

                                <div class="col_half">
                                    <label for="template-quick-analysis-fname" class="dark">First Name <small>*</small></label>
                                    <input type="text" id="template-quick-analysis-fname" name="template-quick-analysis-fname" value="" class="sm-form-control required" aria-required="true">
                                </div>

                                <div class="col_half col_last">
                                    <label for="template-quick-analysis-lname" class="dark">Last Name <small>*</small></label>
                                    <input type="text" id="template-quick-analysis-lname" name="template-quick-analysis-lname" value="" class="sm-form-control required" aria-required="true">
                                </div>

                                <div class="clear"></div>

                                <div class="col_full">
                                    <label for="template-quick-analysis-community-name" class="dark">Community Name <small>*</small></label>
                                    <input type="text" id="template-quick-analysis-community-name" name="template-quick-analysis-community-name" value="" class="sm-form-control">
                                </div>

                                <div class="col_half">
                                    <label for="template-quick-analysis-address-one" class="dark">Address Line One</label>
                                    <input type="text" id="template-quick-analysis-address-one" name="template-quick-analysis-address-one" value="" class="sm-form-control">
                                </div>

                                <div class="col_one_fourth">
                                    <label for="template-quick-analysis-address-two" class="dark">Line Two</label>
                                    <input type="text" name="template-quick-analysis-address-two" id="template-quick-analysis-address-two" value="" class="sm-form-control">
                                </div>

                                <div class="col_one_fourth col_last">
                                    <label for="template-quick-analysis-city" class="dark">City</label>
                                    <input type="text" name="template-quick-analysis-city" id="template-quick-analysis-city" value="" class="sm-form-control">
                                </div>

                                <div class="col_one_sixth">
                                    <label for="template-quick-analysis-state" class="dark">State</label>
                                    <input type="text" name="template-quick-analysis-state" id="template-quick-analysis-state" value="" class="sm-form-control">
                                </div>

                                <div class="col_one_sixth ">
                                    <label for="template-quick-analysis-postal-code" class="dark">Zip <small>*</small></label>
                                    <input type="text" name="template-quick-analysis-postal-code" id="template-quick-analysis-postal-code" value="" class="sm-form-control">
                                </div>

                                <div class="col_one_third">
                                    <label for="template-quick-analysis-phone" class="dark">Phone <small>*</small></label>
                                    <input type="tel" name="template-quick-analysis-phone" id="template-quick-analysis-phone" value="" class="sm-form-control">
                                </div>

                                <div class="col_one_third col_last">
                                    <label for="template-quick-analysis-email" class="dark">Email <small>*</small></label>
                                    <input type="email" name="template-quick-analysis-wmail" id="template-quick-analysis-email" value="" class="sm-form-control required" aria-required="true">
                                </div>

                                <div class="col_full">
                                    <label for="template-quick-analysis-message" class="dark">Message</label>
                                    <textarea type="email" name="template-quick-analysis-message" id="template-quick-analysis-message" value="" class="sm-form-control  analysis-message"></textarea>
                                </div>
                                <div class="clear"></div>


                                <div class="col_full">
                                    <button onclick="quickAnalysisSubmissionClick(); return false;" class="button button-3d button-large btn-block nomargin" name="template-quick-analysis-apply" value="apply">Schedule Analysis</button>
                                </div>

                            </form>                        
                    </div>    
                </div>
            </div>
        </div>
  


        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

            <div class="container">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix">

                    <div class="col_two_third">

                        <div class="col_one_third">

                            <div class="widget clearfix">

                                <h4>Contact Us</h4>

                                <div style="background: url('../../Content/images/world-map.png') no-repeat center center; background-size: 100%;">
                                    <address>
                                        
                                        <abbr title="Phone Number"><strong>Address:</strong></abbr>
                                        @Model.LivingWellInfo.Address.AddressLineOne,
                                        <br />
                                        @Model.LivingWellInfo.Address.CityStateZip()
                                    </address>
                                    <abbr title="Phone Number"><strong>Phone: </strong></abbr> @Model.LivingWellInfo.GetPhoneNumberWithPeriod(Model.LivingWellInfo.Phone)<br>
                                    <abbr title="Fax"><strong>Fax: </strong></abbr> @Model.LivingWellInfo.GetPhoneNumberWithPeriod(Model.LivingWellInfo.Fax)<br>
                                    <abbr title="Email Address"><strong>Email: </strong></abbr>@Model.LivingWellInfo.InfoEmailAddress


                                </div>
                                <div class="topmargin-sm clearfix"><p>Give us a call, we look foward to meeting you!</p></div>

                            </div>

                        </div>

                        <div class="col_one_third">

                            <div class="widget widget_links clearfix">

                                <h4>Free Analysis</h4>

                                <div class="topmargin-sm clearfix"><p>Living Well Rehab is the perfect therapy solution for you. Our free analysis is the first step in letting show you what we can do.</p></div>

                            </div>

                        </div>

                        <div class="col_one_third col_last">

                            <div class="widget clearfix">
                                <h4>Opportunities</h4>
                                <ul class="unordered-list">
                                    <li>Patient-centered approach to care</li>
                                    <li>On-site and local regional management</li>
                                    <li>Growth opportunities</li>
                                    <li>Flexible Schedules</li>
                                    <li>Point of service documentation and more...</li>
                                </ul>

                            </div>

                        </div>

                    </div>

                    <div class="col_one_third col_last">

                        <div class="widget subscribe-widget clearfix">
                            <h4>FollOw US</h4>
                            <h5><strong>Subscribe</strong> to Our Newsletter to get Important News &amp; Updates:</h5>
                            <div class="widget-subscribe-form-result"></div>
                            <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                                <div class="input-group divcenter">
                                    <span class="input-group-addon"><i class="icon-email2"></i></span>
                                    <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">Subscribe</button>
                                    </span>
                                </div>
                            </form>
                        </div>

                        <div class="widget clearfix" style="margin-bottom: -20px;">

                            <div class="row">

                                <div class="col-md-6 clearfix bottommargin-sm">
                                    <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
                                </div>
                                <div class="col-md-6 clearfix">
                                    <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-rss"></i>
                                        <i class="icon-rss"></i>
                                    </a>
                                    <a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col_two_third">
                        <div class="col_one_third">
                            <a href="#" class="button button-default-background button-large" style="width:100%; text-align:center; color: white;"><!--<i class="icon-angle-right"></i>--><span>Contact Us</span></a>

                        </div>
                        <div class="col_one_third">
                            <a href="#" class="button button-default-background button-large " style="width:100%; text-align:center; color: white;"><!--<i class="icon-angle-right"></i>--><span>Schedule Now</span></a>
                        </div>
                        <div class="col_one_third norightmargin">
                            <a href="#" class="button button-default-background button-large" style="width:100%; text-align:center; color: white;"><!--<i class="icon-angle-right"></i>--><span>Learn More</span></a>
                        </div>
                    </div>
                </div><!-- .footer-widgets-wrap end -->

            </div>
            <!-- #copyrights end -->
            <div class="application-footer-container">
                <div class="application-footer dark-background">
                    Ready to start your new Career?
                        @Html.ActionLink("I'm Ready!", "Index", "Careers", null, new { @class = "button button-3d" })
                </div>

            </div>

        </footer><!-- #footer end -->
        <!-- Go To Top
        ============================================= -->
        <div id="gotoTop" class="icon-angle-up"></div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">X</span>
                    <div class="col_one_eighth modal-icon nobottommargin">
                        <i id="modal-icon" class="icon-thumb"></i>
                    </div>
                    <div id="modal-header-text">Success!!!</div>
                </div>
                <div id="modal-body-text" class="modal-body">
                </div>
                @*<div class="modal-footer">
                    <h3>Modal Footer</h3>
                </div>*@    
            </div>

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <!-- External JavaScripts
        ============================================= -->
        @*<script type="text/javascript" src="../js/jquery.js"></script>*@
        <script type="text/javascript" src="~/Scripts/js/plugins.js"></script>
        <script type="text/javascript" src="~/Scripts/livingwell.js"></script>
        <!-- Footer Scripts
        ============================================= -->
        <script type="text/javascript" src="~/Scripts/js/functions.js"></script>


        @RenderSection("scripts", required: false)


    </div><!-- #wrapper end -->

</body>
</html>
